################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hemanth2410/FileContentIndex/878586be-4e90-4c04-8211-388dfd66ef18.vsidx
/.vs/hemanth2410/FileContentIndex/a8c077b5-f7c1-4aee-a2bb-10c240c4a75c.vsidx
*.vsidx
